<div class="clockCard">
  <div class="clockFace">
    <div class="digit digit1">
      <div>1</div>
    </div>
    <div class="digit digit2">
      <div>2</div>
    </div>
    <div class="digit digit3">
      <div>3</div>
    </div>
    <div class="digit digit4">
      <div>4</div>
    </div>
    <div class="digit digit5">
      <div>5</div>
    </div>
    <div class="digit digit6">
      <div>6</div>
    </div>
    <div class="digit digit7">
      <div>7</div>
    </div>
    <div class="digit digit8">
      <div>8</div>
    </div>
    <div class="digit digit9">
      <div>9</div>
    </div>
    <div class="digit digit10">
      <div>10</div>
    </div>
    <div class="digit digit11">
      <div>11</div>
    </div>
    <div class="digit digit12">
      <div>12</div>
    </div>
    <div class="hour-hand" #hourHand></div>
    <div class="minute-hand" #minuteHand></div>
    <div class="second-hand" #secondHand></div>
  </div>
</div>
