/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: digital;
  src: url(assets/fonts/digital-7.ttf) format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
